#body {
    font-family: Lato;
}

h1 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
}

h2 {
    letter-spacing: 2px;
    color: black;
    position: left;
}

#logo {
    float: left;
    font-size: 150%;
    line-height: 10px;
    margin: 0;
}

#direction {
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 1px;
    display: inline;
    padding-bottom: 20px;
}

#logo,
#direction {
    line-height: 15px;
}

#direction li {
    float: right;
    margin-right: 30px;
}

#direction a {
    text-decoration: none;
    color: inherit;
}

#direction a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

#members-engagement {
    text-align: center;
    text-transform: uppercase;
}

#left-about {
    width: 20%;
}

#center-about {
    width: 42%;
    float: left;
    margin-left: 591px;
    margin-bottom: 9px;
}

.left-about-heading {
    width: 30%;
    float: left;
    line-height: 20px;
}

.center-about-heading {
    width: 40%;
    float: center;
    line-height: 20px;
    padding-top: 5px;
}

#logo-image {
    background-image: url("assets/images/mstt0jkl.png");
    background-size: cover;
    background-position: center;
    max-width: 100%
}

#logo-outer {
    overflow: visible;
    padding-bottom: 1px;
}


.logo-image {
    max-height: none;
}

#eye-text {
    color: blue;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 130%;
    float: right;
}

#Motdaug {
    padding-right: 10px;
}

.creativity {
    display: inline;
}

#creativity-image {
    background-image: url("assets/images/cream-170439_1280.jpg");
    background-position: left;
}

#Get-ready {
    background: url("assets/images/pexels-vaibhav-jadhav-3218467 (2).jpg");
    height: 50%;
    width: 30%;
}

#Join-us {
    background: url("images/pexels-andrea-piacquadio-3756050.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
}