#body {
    font-family: Lato;
}

h1 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
}

h2 {
    letter-spacing: 2px;
    color: black;
}

#logo {
    float: left;
    font-size: 280%;
    line-height: 30px;
}

#direction {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    display: inline;
}

#logo,
#direction {
    line-height: 95px;
}

#direction li {
    float: right;
    margin-right: 30px;
}

#direction a {
    text-decoration: none;
    color: inherit;
}

#direction a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

#members-engagement {
    text-align: center;
    text-transform: uppercase;
}

#left-about {
    width: 50%;
}

#center-about {
    width: 22%;
    margin: 0 auto;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
}

.center-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;
}

#creativity {
    background-image: url("assets/images/cream-170439_1280.jpg");
    background-position: left;
}

#Get-ready {
    background: url("assets/images/pexels-vaibhav-jadhav-3218467 (2).jpg");
    height: 50%;
    width: 100%;
}

#Join-us {
    background: url("images/pexels-andrea-piacquadio-3756050.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
}